<header class="header">
  <div class="header__container">
    <!-- Logo -->
    <a href="#" class="logo">
      <img
        src="/Frontend/assets/images/Logo.png"
        alt="Planner"
        class="logo__image"
      />
    </a>

                    <!-- Active Timer -->
        <div
          class="header-timer"
          id="headerTimer"
          hidden
          aria-live="polite"
        >
          <div class="header-timer__activity">
            <span
              class="header-timer__indicator"
              id="headerTimerIndicator"
            ></span>

            <span
              class="header-timer__activity-name"
              id="headerTimerActivity"
            >
              مطالعه ریاضی
            </span>
          </div>

          <div
            class="header-timer__time"
            id="headerTimerTime"
          >
            00:00:00
          </div>

          <button
            type="button"
            class="header-timer__stop"
            id="headerTimerStop"
          >
            پایان
          </button>
        </div>


    <!-- Navigation -->
    <nav class="navigation" aria-label="منوی اصلی">
      <ul class="navigation__list">
        <li class="navigation__item">
          <a href="#" class="navigation__link navigation__link--active">
            داشبورد
          </a>
        </li>

        <li class="navigation__item">
          <a href="#" class="navigation__link"> فعالیت‌ها </a>
        </li>

        <li class="navigation__item">
          <a href="#" class="navigation__link"> گزارشات </a>
        </li>

        <li class="navigation__item">
          <a href="#" class="navigation__link"> تقویم </a>
        </li>
      </ul>
    </nav>

    <!-- Profile -->
    <a href="#" class="profile">
      <img
        src="/Frontend/assets/images/Profile.jpg"
        alt="پروفایل کاربر"
        class="profile__image"
      />
    </a>
  </div>

  <!-- <div class="auth-actions">
        <a href="#" class="auth-actions__login"> ورود </a>

        <a href="#" class="auth-actions__register"> ثبت‌نام </a>
      </div> -->
</header>
